!   __  __
!   \ \/ /_ __ ___  ___  ___  _   _ _ __ ___ ___  ___
!    \  /| '__/ _ \/ __|/ _ \| | | | '__/ __/ _ \/ __|
!  _ /  \| | |  __/\__ \ (_) | |_| | | | (_|  __/\__ \
! (_)_/\_\_|  \___||___/\___/ \__,_|_|  \___\___||___/

! DRACULA ------------------------------------------------------------------ {{{

! drac dracula !

! palette
! standard
#define drac_bg              #282a36
#define drac_currline        #44475a
#define drac_selection       #44475a
#define drac_fg              #f8f8f2
#define drac_comment         #6272a4
#define drac_cyan            #8be9fd
#define drac_green           #50fa7b
#define drac_orange          #ffb86c
#define drac_pink            #ff79c6
#define drac_purple          #bd93f9
#define drac_red             #ff5555
#define drac_yellow          #f1fa8c
! ANSI
#define drac_black           #21222c
#define drac_brightblack     #6272a4
#define drac_red             #ff5555
#define drac_brightred       #ff6e6e
#define drac_green           #50fa7b
#define drac_brightgreen     #69ff94
#define drac_yellow          #f1fa8c
#define drac_brightyellow    #ffffa5
#define drac_blue            #bd93f9
#define drac_brightblue      #d6acff
#define drac_magenta         #ff79c6
#define drac_brightmagenta   #ff92df
#define drac_cyan            #8be9fd
#define drac_brightcyan      #a4ffff
#define drac_white           #f8f8f2
#define drac_brightwhite     #ffffff
! Xresources
#define drac_xr_foreground   #F8F8F2
#define drac_xr_background   #282A36
#define drac_xr_color0       #000000
#define drac_xr_color8       #4D4D4D
#define drac_xr_color1       #FF5555
#define drac_xr_color9       #FF6E67
#define drac_xr_color2       #50FA7B
#define drac_xr_color10      #5AF78E
#define drac_xr_color3       #F1FA8C
#define drac_xr_color11      #F4F99D
#define drac_xr_color4       #BD93F9
#define drac_xr_color12      #CAA9FA
#define drac_xr_color5       #FF79C6
#define drac_xr_color13      #FF92D0
#define drac_xr_color6       #8BE9FD
#define drac_xr_color14      #9AEDFE
#define drac_xr_color7       #BFBFBF
#define drac_xr_color15      #E6E6E6

! pick colors
! black
#define drac00 drac_black
#define drac08 drac_brightblack
! red
#define drac01 drac_red
#define drac09 drac_brightred
! green
#define drac02 drac_green
#define drac10 drac_brightgreen
! yellow
#define drac03 drac_yellow
#define drac11 drac_brightyellow
! blue
#define drac04 drac_blue
#define drac12 drac_brightblue
! magenta
#define drac05 drac_magenta
#define drac13 drac_brightmagenta
! cyan
#define drac06 drac_cyan
#define drac14 drac_brightcyan
! white
#define drac07 drac_white
#define drac15 drac_brightwhite
! terminal
#define dracbg  drac_bg
#define dracfg  drac_fg
#define draccc  drac_fg
! window borders
#define dracwf  drac_comment
#define dracwf2 drac_purple
#define dracwu  drac_red
#define dracwu2 drac_red
#define dracwi  drac_selection
! bar
#define dracbb  drac_bg
#define dracbs  drac_fg
#define dracbs2 drac_comment
#define dracbf  drac_fg
#define dracbf2 drac_comment
#define dracbf3 drac_comment
#define dracba  drac_fg
#define dracba2 drac_selection
#define dracba3 drac_selection
#define dracbi  drac_fg
#define dracbi2 drac_bg
#define dracbi3 drac_bg

! }}}

! GNOME -------------------------------------------------------------------- {{{

! gnome gruvbox !

! palette
#define gnome_bg             #1e1e1e
#define gnome_bg2            #2d2d2d
#define gnome_bg3            #353535
#define gnome_select         #15539e
#define gnome_fg             #ffffff
#define gnome_00             #171421
#define gnome_01             #C01C28
#define gnome_02             #26A269
#define gnome_03             #A2734C
#define gnome_04             #12488B
#define gnome_05             #A347BA
#define gnome_06             #2AA1B3
#define gnome_07             #D0CFCC
#define gnome_08             #5E5C64
#define gnome_09             #F66151
#define gnome_10             #33D17A
#define gnome_11             #E9AD0C
#define gnome_12             #2A7BDE
#define gnome_13             #C061CB
#define gnome_14             #33C7DE
#define gnome_15             #FFFFFF

! pick colors
! black
#define gnome00 gnome_00
#define gnome08 gnome_08
! red
#define gnome01 gnome_01
#define gnome09 gnome_09
! green
#define gnome02 gnome_02
#define gnome10 gnome_10
! yellow
#define gnome03 gnome_03
#define gnome11 gnome_11
! blue
#define gnome04 gnome_04
#define gnome12 gnome_12
! purple
#define gnome05 gnome_05
#define gnome13 gnome_13
! aqua
#define gnome06 gnome_06
#define gnome14 gnome_14
! white
#define gnome07 gnome_07
#define gnome15 gnome_15
! terminal
#define gnomebg gnome_bg
#define gnomefg gnome_fg
#define gnomecc gnome_fg
! window borders
#define gnomewf  gnome_color08
#define gnomewf2 gnome_07
#define gnomewu  gnome_01
#define gnomewu2 gnome_01
#define gnomewi  gnome_bg3
! bar
#define gnomebb  gnome_bg
#define gnomebs  gnome_fg
#define gnomebs2 gnome_color7
#define gnomebf  gnome_fg
#define gnomebf2 gnome_select
#define gnomebf3 gnome_select
#define gnomeba  gnome_fg
#define gnomeba2 gnome_bg3
#define gnomeba3 gnome_bg3
#define gnomebi  gnome_fg
#define gnomebi2 gnome_bg
#define gnomebi3 gnome_bg

! }}}

! GRUVBOX ------------------------------------------------------------------ {{{

! gruv gruvbox !

! palette
#define gruv_bg0             #282828
#define gruv_bg0_h           #1d2021
#define gruv_bg0_s           #32302f
#define gruv_bg1             #3c3836
#define gruv_bg2             #504945
#define gruv_bg3             #665c54
#define gruv_bg4             #7c6f64
#define gruv_gray            #928374
#define gruv_fg4             #a89984
#define gruv_fg3             #bdae93
#define gruv_fg2             #d5c4a1
#define gruv_fg1             #ebdbb2
#define gruv_fg0             #fbf1c7
#define gruv_red_d           #cc241d
#define gruv_red_l           #fb4934
#define gruv_green_d         #98971a
#define gruv_green_l         #b8bb26
#define gruv_yellow_d        #d79921
#define gruv_yellow_l        #fabd2f
#define gruv_blue_d          #458588
#define gruv_blue_l          #83a598
#define gruv_purple_d        #b16286
#define gruv_purple_l        #d3869b
#define gruv_aqua_d          #689d6a
#define gruv_aqua_l          #8ec07c
#define gruv_orange_d        #d65d0e
#define gruv_orange_l        #fe8019

! pick colors
! black
#define gruv00 gruv_bg0
#define gruv08 gruv_gray
! red
#define gruv01 gruv_red_d
#define gruv09 gruv_red_l
! green
#define gruv02 gruv_green_d
#define gruv10 gruv_green_l
! yellow
#define gruv03 gruv_yellow_d
#define gruv11 gruv_yellow_l
! blue
#define gruv04 gruv_blue_d
#define gruv12 gruv_blue_l
! purple
#define gruv05 gruv_purple_d
#define gruv13 gruv_purple_l
! aqua
#define gruv06 gruv_aqua_d
#define gruv14 gruv_aqua_l
! white
#define gruv07 gruv_fg4
#define gruv15 gruv_fg1
! terminal
#define gruvbg  gruv_bg0
#define gruvfg  gruv_fg1
#define gruvcc  gruv_fg1
! window borders
#define gruvwf  gruv_fg4
#define gruvwf2 gruv_fg1
#define gruvwu  gruv_red_l
#define gruvwu2 gruv_red_l
#define gruvwi  gruv_bg1
! bar
#define gruvbb  gruv_bg0
#define gruvbs  gruv_fg1
#define gruvbs2 gruv_gray
#define gruvbf  gruv_bg0
#define gruvbf2 gruv_fg4
#define gruvbf3 gruv_fg4
#define gruvba  gruv_fg1
#define gruvba2 gruv_bg1
#define gruvba3 gruv_bg1
#define gruvbi  gruv_fg1
#define gruvbi2 gruv_bg0
#define gruvbi3 gruv_bg0

! }}}

! GRUVBOX-LIGHT ------------------------------------------------------------ {{{

! gruvL gruvbox !

! palette
#define gruvL_bg0             #fbf1c7
#define gruvL_bg0_h           #f9f5d7
#define gruvL_bg0_s           #f2e5bc
#define gruvL_bg1             #ebdbb2
#define gruvL_bg2             #d5c4a1
#define gruvL_bg3             #bdae93
#define gruvL_bg4             #a89984
#define gruvL_gray            #928374
#define gruvL_fg4             #7c6f64
#define gruvL_fg3             #665c54
#define gruvL_fg2             #504945
#define gruvL_fg1             #3c3836
#define gruvL_fg0             #282828
#define gruvL_red_d           #9d0006
#define gruvL_red_l           #cc241d
#define gruvL_green_d         #79740e
#define gruvL_green_l         #98971a
#define gruvL_yellow_d        #b57614
#define gruvL_yellow_l        #d79921
#define gruvL_blue_d          #076678
#define gruvL_blue_l          #458588
#define gruvL_purple_d        #8f3f71
#define gruvL_purple_l        #b16286
#define gruvL_aqua_d          #427b58
#define gruvL_aqua_l          #689d6a
#define gruvL_orange_d        #af3a03
#define gruvL_orange_l        #d65d0e

! pick colors
! black
#define gruvL00 gruvL_bg0
#define gruvL08 gruvL_gray
! red
#define gruvL01 gruvL_red_d
#define gruvL09 gruvL_red_l
! green
#define gruvL02 gruvL_green_d
#define gruvL10 gruvL_green_l
! yellow
#define gruvL03 gruvL_yellow_d
#define gruvL11 gruvL_yellow_l
! blue
#define gruvL04 gruvL_blue_d
#define gruvL12 gruvL_blue_l
! purple
#define gruvL05 gruvL_purple_d
#define gruvL13 gruvL_purple_l
! aqua
#define gruvL06 gruvL_aqua_d
#define gruvL14 gruvL_aqua_l
! white
#define gruvL07 gruvL_fg4
#define gruvL15 gruvL_fg1
! terminal
#define gruvLbg  gruvL_bg0
#define gruvLfg  gruvL_fg1
#define gruvLcc  gruvL_fg1
! window borders
#define gruvLwf  gruvL_fg4
#define gruvLwf2 gruvL_fg1
#define gruvLwu  gruvL_red_l
#define gruvLwu2 gruvL_red_l
#define gruvLwi  gruvL_bg1
! bar
#define gruvLbb  gruvL_bg0
#define gruvLbs  gruvL_fg1
#define gruvLbs2 gruvL_gray
#define gruvLbf  gruvL_bg0
#define gruvLbf2 gruvL_fg4
#define gruvLbf3 gruvL_fg4
#define gruvLba  gruvL_fg1
#define gruvLba2 gruvL_bg1
#define gruvLba3 gruvL_bg1
#define gruvLbi  gruvL_fg1
#define gruvLbi2 gruvL_bg0
#define gruvLbi3 gruvL_bg0

! }}}

! NORD --------------------------------------------------------------------- {{{

! nord nord !

! palette
#define nord_0 #2E3440
#define nord_1 #3B4252
#define nord_2 #434C5E
#define nord_3 #4C566A
#define nord_4 #D8DEE9
#define nord_5 #E5E9F0
#define nord_6 #ECEFF4
#define nord_7 #8FBCBB
#define nord_8 #88C0D0
#define nord_9 #81A1C1
#define nord_10 #5E81AC
#define nord_11 #BF616A
#define nord_12 #D08770
#define nord_13 #EBCB8B
#define nord_14 #A3BE8C
#define nord_15 #B48EAD

! pick colors
! black
#define nord00 nord_1
#define nord08 nord_3
! red
#define nord01 nord_11
#define nord09 nord_11
! green
#define nord02 nord_14
#define nord10 nord_14
! yellow
#define nord03 nord_13
#define nord11 nord_13
! blue
#define nord04 nord_9
#define nord12 nord_9
! magenta
#define nord05 nord_15
#define nord13 nord_15
! cyan
#define nord06 nord_8
#define nord14 nord_7
! white
#define nord07 nord_5
#define nord15 nord_6
! terminal
#define nordbg  nord_0
#define nordfg  nord_4
#define nordcc  nord_4
! window borders
#define nordwf  nord_8
#define nordwf2 nord_7
#define nordwu  nord_11
#define nordwu2 nord_11
#define nordwi  nord_1
! bar
#define nordbb  nord_0
#define nordbs  nord_4
#define nordbs2 nord_3
#define nordbf  nord_0
#define nordbf2 nord_8
#define nordbf3 nord_8
#define nordba  nord_5
#define nordba2 nord_3
#define nordba3 nord_3
#define nordbi  nord_4
#define nordbi2 nord_0
#define nordbi3 nord_0

! }}}

! SOLARIZED ---------------------------------------------------------------- {{{

! solar solarized8 !

! palette
#define solar_base03        #002b36
#define solar_base02        #073642
#define solar_base01        #586e75
#define solar_base00        #657b83
#define solar_base0         #839496
#define solar_base1         #93a1a1
#define solar_base2         #eee8d5
#define solar_base3         #fdf6e3
#define solar_yellow        #b58900
#define solar_orange        #cb4b16
#define solar_red           #dc322f
#define solar_magenta       #d33682
#define solar_violet        #6c71c4
#define solar_blue          #268bd2
#define solar_cyan          #2aa198
#define solar_green         #859900

! pick colors
! black
#define solar00 solar_base02
#define solar08 solar_base03
! red
#define solar01 solar_red
#define solar09 solar_orange
! green
#define solar02 solar_green
#define solar10 solar_base01
! yellow
#define solar03 solar_yellow
#define solar11 solar_base00
! blue
#define solar04 solar_blue
#define solar12 solar_base0
! magenta
#define solar05 solar_magenta
#define solar13 solar_violet
! cyan
#define solar06 solar_cyan
#define solar14 solar_base1
! white
#define solar07 solar_base2
#define solar15 solar_base3
! terminal
#define solarbg  solar_base03
#define solarfg  solar_base0
#define solarcc  solar_base1
! window borders
#define solarwf  solar_base1
#define solarwf2 solar_base3
#define solarwu  solar_orange
#define solarwu2 solar_orange
#define solarwi  solar_base02
! bar
#define solarbb  solar_base03
#define solarbs  solar_base0
#define solarbs2 solar_base01
#define solarbf  solar_base3
#define solarbf2 solar_base1
#define solarbf3 solar_base1
#define solarba  solar_base1
#define solarba2 solar_base02
#define solarba3 solar_base02
#define solarbi  solar_base0
#define solarbi2 solar_base03
#define solarbi3 solar_base03

! }}}

! SOLARIZERD-LIGHT --------------------------------------------------------- {{{

! solarL solarized8 !

! pick colors
! black
#define solarL00 solar_base2
#define solarL08 solar_base3
! red
#define solarL01 solar_red
#define solarL09 solar_orange
! green
#define solarL02 solar_green
#define solarL10 solar_base1
! yellow
#define solarL03 solar_yellow
#define solarL11 solar_base0
! blue
#define solarL04 solar_blue
#define solarL12 solar_base00
! magenta
#define solarL05 solar_magenta
#define solarL13 solar_violet
! cyan
#define solarL06 solar_cyan
#define solarL14 solar_base01
! white
#define solarL07 solar_base02
#define solarL15 solar_base03
! terminal
#define solarLbg  solar_base3
#define solarLfg  solar_base00
#define solarLcc  solar_base01
! window borders
#define solarLwf  solar_base01
#define solarLwf2 solar_base03
#define solarLwu  solar_orange
#define solarLwu2 solar_orange
#define solarLwi  solar_base2
! bar
#define solarLbb  solar_base3
#define solarLbs  solar_base00
#define solarLbs2 solar_base1
#define solarLbf  solar_base3
#define solarLbf2 solar_base01
#define solarLbf3 solar_base01
#define solarLba  solar_base01
#define solarLba2 solar_base2
#define solarLba3 solar_base2
#define solarLbi  solar_base00
#define solarLbi2 solar_base3
#define solarLbi3 solar_base3

! }}}

! THEME -------------------------------------------------------------------- {{{

! Choose theme
#define c00 gruv00
#define c01 gruv01
#define c02 gruv02
#define c03 gruv03
#define c04 gruv04
#define c05 gruv05
#define c06 gruv06
#define c07 gruv07
#define c08 gruv08
#define c09 gruv09
#define c10 gruv10
#define c11 gruv11
#define c12 gruv12
#define c13 gruv13
#define c14 gruv14
#define c15 gruv15
#define bg gruvbg
#define fg gruvfg
#define cc gruvcc
#define wf gruvwf
#define wf2 gruvwf2
#define wu gruvwu
#define wu2 gruvwu2
#define wi gruvwi
#define bb gruvbb
#define bs gruvbs
#define bs2 gruvbs2
#define bf gruvbf
#define bf2 gruvbf2
#define bf3 gruvbf3
#define ba gruvba
#define ba2 gruvba2
#define ba3 gruvba3
#define bi gruvbi
#define bi2 gruvbi2
#define bi3 gruvbi3

!! Set color values
*color0:  c00
*color1:  c01
*color2:  c02
*color3:  c03
*color4:  c04
*color5:  c05
*color6:  c06
*color7:  c07
*color8:  c08
*color9:  c09
*color10: c10
*color11: c11
*color12: c12
*color13: c13
*color14: c14
*color15: c15

!! Terminal colors
*background:                      bg
*foreground:                      fg
*cursorColor:                     cc

!! Ricing colors
*windowf:  wf
*windowf2: wf2
*windowu:  wu
*windowu2: wu2
*windowi:  wi
*barb:  bb
*bars:  bs
*bars2: bs2
*barf: bf
*barf2: bf2
*barf3: bf3
*bara: ba
*bara2: ba2
*bara3: ba3
*bari: bi
*bari2: bi2
*bari3: bi3

! }}}

! MISC SETTINGS ------------------------------------------------------------ {{{

!! IDK
Xft.dpi:       96
Xft.antialias: true
Xft.hinting:   true
Xft.rgba:      rgb
Xft.autohint:  false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

!! XTerm colors
XTerm*background:        fg
XTerm*foreground:        bg
XTerm*faceName:          Fixed
XTerm*faceSize:          11
XTerm*reverseVideo:      on
XTerm*cursorBlink:       true
XTerm*selectToClipboard: true

!! Xcursor settings
! Xcursor.theme: xcursor-breeze
! Xcursor.size:                     0

! }}}

! URXVT -------------------------------------------------------------------- {{{
URxvt.font: xft:monospace:size=10:style=Medium
URxvt.depth:                      32
URxvt*scrollBar:                  false
URxvt*mouseWheelScrollPage:       false
URxvt*cursorBlink:                true
URxvt*background:                 bg
URxvt*foreground:                 fg
URxvt*saveLines:                  5000

! for 'fake' transparency (without Compton) uncomment the following three lines
!URxvt*inheritPixmap:            true
!URxvt*transparent:              true
!URxvt*shading:                  20

! Normal copy-paste keybindings without perls
URxvt.iso14755:                   false
URxvt.keysym.Shift-Control-V:     eval:paste_clipboard
URxvt.keysym.Shift-Control-C:     eval:selection_to_clipboard

!Xterm escape codes, word by word movement
URxvt.keysym.Control-Left:        \033[1;5D
URxvt.keysym.Shift-Control-Left:  \033[1;6D
URxvt.keysym.Control-Right:       \033[1;5C
URxvt.keysym.Shift-Control-Right: \033[1;6C
URxvt.keysym.Control-Up:          \033[1;5A
URxvt.keysym.Shift-Control-Up:    \033[1;6A
URxvt.keysym.Control-Down:        \033[1;5B
URxvt.keysym.Shift-Control-Down:  \033[1;6B
! Rxvt.perl-ext-common:             ...,clipboard
! URxvt.keysym.M-C-c:               perl:clipboard:copy
! URxvt.keysym.M-v:                 perl:clipboard:paste
! URxvt.keysym.M-C-v:               perl:clipboard:paste_escaped
! URxvt*termName:                   string
! URxvt*geometry:                   geometry
! URxvt*chdir:                      string
! URxvt*loginShell:                 boolean
! URxvt*multiClickTime:             number
! URxvt*jumpScroll:                 boolean
! URxvt*skipScroll:                 boolean
! URxvt*pastableTabs:               boolean
! URxvt*scrollstyle:                plain
! URxvt*scrollBar_right:            boolean
! URxvt*scrollBar_floating:         true
! URxvt*scrollBar_align:            mode
! URxvt*thickness:                  number
! URxvt*scrollTtyOutput:            boolean
! URxvt*scrollTtyKeypress:          boolean
! URxvt*scrollWithBuffer:           boolean
! URxvt*tintColor:                  !7DA55
! URxvt*blurRadius:                 HxV
! URxvt*fading:                     number
! URxvt*fadeColor:                  color
! URxvt*utmpInhibit:                boolean
! URxvt*urgentOnBell:               boolean
! URxvt*visualBell:                 boolean
! URxvt*mapAlert:                   boolean
! URxvt*meta8:                      boolean
! URxvt*tripleclickwords:           boolean
! URxvt*insecure:                   boolean
! URxvt*cursorUnderline:            boolean
! URxvt*pointerBlank:               boolean
! URxvt*color0:                     color
! URxvt*color1:                     color
! URxvt*color2:                     color
! URxvt*color3:                     color
! URxvt*color4:                     color
! URxvt*color5:                     color
! URxvt*color6:                     color
! URxvt*color7:                     color
! URxvt*color8:                     color
! URxvt*color9:                     color
! URxvt*color10:                    color
! URxvt*color11:                    color
! URxvt*color12:                    color
! URxvt*color13:                    color
! URxvt*color14:                    color
! URxvt*color15:                    color
! URxvt*colorBD:                    color
! URxvt*colorIT:                    color
! URxvt*colorUL:                    color
! URxvt*colorRV:                    color
! URxvt*underlineColor:             color
! URxvt*scrollColor:                color
! URxvt*troughColor:                color
! URxvt*highlightColor:             color
! URxvt*highlightTextColor:         color
! URxvt*cursorColor:                color
! URxvt*cursorColor2:               color
! URxvt*pointerColor:               color
! URxvt*pointerColor2:              color
! URxvt*borderColor:                color
! URxvt*iconFile:                   file
! URxvt*font:                       fontname
! URxvt*boldFont:                   fontname
! URxvt*italicFont:                 fontname
! URxvt*boldItalicFont:             fontname
! URxvt*intensityStyles:            boolean
! URxvt*inputMethod:                name
! URxvt*preeditType:                style
! URxvt*imLocale:                   string
! URxvt*imFont:                     fontname
! URxvt*title:                      string
! URxvt*iconName:                   string
! URxvt*buffered:                   boolean
! URxvt*depth:                      number
! URxvt*visual:                     number
! URxvt*transient-for:              windowid
! URxvt*override-redirect:          boolean
! URxvt*hold:                       boolean
! URxvt*externalBorder:             number
! URxvt*internalBorder:             number
! URxvt*borderLess:                 true
! URxvt*lineSpace:                  number
! URxvt*letterSpace:                number
! URxvt*skipBuiltinGlyphs:          boolean
! URxvt*pointerBlankDelay:          number
! URxvt*backspacekey:               string
! URxvt*deletekey:                  string
! URxvt*print-pipe:                 string
! URxvt*modifier:                   modifier
! URxvt*cutchars:                   string
! URxvt*answerbackString:           string
! URxvt*secondaryScreen:            boolean
! URxvt*secondaryScroll:            boolean
! URxvt*perl-lib:                   string
! URxvt*perl-eval:                  perl-eval
! URxvt*perl-ext-common:            string
! URxvt*perl-ext:                   string
! URxvt*iso14755:                   boolean
! URxvt*iso14755_52:                boolean
! URxvt*xrm:                        string
! URxvt*keysym.sym:                 keysym
! URxvt*background.border:          boolean
! URxvt*background.expr:            string
! URxvt*background.interval:        seconds
! URxvt*bell-command:               string
! URxvt*kuake.hotkey:               string
! URxvt*matcher.button:             string
! URxvt*matcher.launcher:           string
! URxvt*matcher.launcher.*:         string
! URxvt*matcher.pattern.*:          string
! URxvt*matcher.rend.*:             string
! URxvt*remote-clipboard.fetch:     string
! URxvt*remote-clipboard.store:     string
! URxvt*searchable-scrollback:      string
! URxvt*selection-autotransform.*:  string
! URxvt*selection-pastebin.cmd:     string
! URxvt*selection-pastebin.url:     string
! URxvt*selection.pattern-0:        string
! URxvt*tab-bg:                     colour
! URxvt*tab-fg:                     colour
! URxvt*tabbar-bg:                  colour
! URxvt*tabbar-fg:                  colour
! URxvt*url-launcher:               string

! }}}
